SOJU_WEB_ADMIN_USER=admin
SOJU_WEB_ADMIN_PASSWORD=change-this-to-a-long-password
SOJU_WEB_SESSION_SECRET=change-this-to-at-least-32-random-characters
SOJU_WEB_COOKIE_SECURE=false
SOJU_ADDRESS=host.docker.internal:6667
SOJU_ADMIN_SOCKET=/run/soju/admin
SOJU_RUNTIME_VOLUME=soju-runtime
